<div class="container">
  <h1>Добро пожаловать!</h1>
  <p class="text-block">
    Вы попали на сайт конвертера величин.
  </p>
  <p class="text-block">
    Какой конвертер вы хотите использовать?
  </p>
  <%= button_to 'Готовка', '/step2', method: :get %>
  <%= button_to 'Валюты', '/step3', method: :get %>
  <%= button_to 'Градусы', '/step4', method: :get %>
</div>