
<h3>
  <div>
    <label for="k-select"> Выберите величину:</label>
  </div>
  <select name="ks" id="k-select">
    <option value="">--Выбрать--</option>
    <option value="grams">Граммы</option>
    <option value="kgrams">Килограммы</option>
    <option value="liters">Литры</option>
    <option value="mliters">Миллилитры</option>
    <option value="teaspoon">Чайная ложка</option>
    <option value="dspoon">Дессертная ложка</option>
    <option value="tablespoonspoon">Столовая ложка</option>
    <option value="glass">Стакан</option>
  </select>
  <div>
    <label for="numb">Введите значение:</label>
  </div>
  <input type="number" id="tentacles" name="tentacles" min="1" max="100" />
  <div>
    <label for="k-select"> Выберите во что конвертировать:</label>
  </div>
  <select name="ks" id="k-select">
    <option value="">--Выбрать--</option>
    <option value="grams">Граммы</option>
    <option value="kgrams">Килограммы</option>
    <option value="liters">Литры</option>
    <option value="mliters">Миллилитры</option>
    <option value="teaspoon">Чайная ложка</option>
    <option value="dspoon">Дессертная ложка</option>
    <option value="tablespoonspoon">Столовая ложка</option>
    <option value="glass">Стакан</option>
  </select>
  <div><input type="submit" value="Отправить" /></div>
</h3>