<h3>
  <div>
    <label for="k-select"> Выберите величину:</label>
  </div>
  <select name="ds" id="d-select">
    <option value="">--Выбрать--</option>
    <option value="cel">Градусы Цельсия</option>
    <option value="kel">Градусы Кельвина</option>
    <option value="far">Градусы Фаренгейта</option>
  </select>
  <div>
    <label for="numb">Введите значение:</label>
  </div>
  <input type="number" id="tentacles" name="tentacles" min="1" max="100" />
  <div>
    <label for="d-select"> Выберите во что конвертировать:</label>
  </div>
  <select name="ds" id="d-select">
    <option value="">--Выбрать--</option>
    <option value="cel">Градусы Цельсия</option>
    <option value="kel">Градусы Кельвина</option>
    <option value="far">Градусы Фаренгейта</option>
  </select>

  <div><input type="submit" value="Отправить" /></div>
</h3>