<h3>
  <div>
    <label for="k-select"> Выберите величину:</label>
  </div>
<select name="сs" id="с-select">
  <option value="">--Выбрать--</option>
  <option value="usd">Доллар</option>
  <option value="eur">Евро</option>
  <option value="rub">Рубль</option>
</select>

  <div>
    <label for="numb">Введите значение:</label>
  </div>
<input type="number" id="tentacles" name="tentacles" min="1" max="100" />
<div>
<label for="c-select"> Выберите во что конвертировать:</label>
</div>
<select name="сs" id="с-select">
  <option value="">--Выбрать--</option>
  <option value="usd">Доллар</option>
  <option value="eur">Евро</option>
  <option value="rub">Рубль</option>
</select>

<div><input type="submit" value="Отправить" /></div>
</h3>